#contact {
  background: $orange-color;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .title {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      padding-bottom: 20px;
      font-size: 40px;
      color: white;
    }

    p {
      padding-top: 20px;
      font-size: 16px;
      color: white;
    }
  }

  form {
    width: 340px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 25px 100px 50px 100px;
    margin-bottom: 50px;

    input {
      display: block;
      border: none;
      border-bottom: 1px solid lightgrey;

      &:focus {
        outline: none;
        border-bottom: 2px solid black;
      }
    }

    input[type="text"],
    input[type="tel"] {
      padding: 10px;
      margin-bottom: 15px;
    }

    .radio {
      display: flex;
      margin-top: 15px;
      margin-bottom: 15px;

      label {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        right: 45px;
        top: 0px;
        opacity: 0.5;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border: 1.5px solid $green-color;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 55px;

        position: relative;
        opacity: 0.5;

        &:checked {
          opacity: 1;
        }

        &:checked + label {
          opacity: 1;
        }
      }

      input[type="radio"]::before {
        position: absolute;
        left: 2.4px;
        top: 2.5px;
        content: "";
        width: 8px;
        height: 8px;
        background-color: $green-color;
        border-radius: 100%;
        opacity: 0;
        transition: 1s;
      }

      input[type="radio"]:last-of-type::before {
        left: 2.2px;
      }

      input[type="radio"]:checked::before {
        opacity: 1;
      }
    }
    button {
      border: none;
      background-color: $green-color;
      width: 40%;
      height: 57px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      align-self: center;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
}
