#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1c1c1c;
  padding: 35px 100px 35px 0px;

  p {
    color: $grey-color;
    font-size: 18px;
    margin-left: 15px;
  }

  #socicons {
    @include socmix;
  }
}
