#socmedia1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 11vh;
  padding-left: 75px;
  padding-right: 75px;

  h2 {
    padding: 2.5px 0 5px 0;
  }

  a {
    color: $orange-color;
    text-decoration: none;
    padding-left: 125px;
    font-size: 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    &:last-of-type {
      opacity: 0.75;
    }
  }
}
