* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "variables.scss";
@import "header.scss";
@import "landing.scss";
@import "socialmedialanding.scss";
@import "tabs.scss";
@import "thirdpage.scss";
@import "awesome.scss.";
@import "pricing.scss";
